.ODA_embalagem {
    margin: 45px auto;
    background: rgb(222,222,222);
    background: radial-gradient(circle, rgba(222,222,222,1) 0%, rgba(0,130,139,1) 100%);
    padding: 40px 20px;
    border-radius: 15px;
}
.ODA_embalagem .row{
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    width: 100%;
    padding: 0;
    margin: 0;
}
.ODA_embalagem img {
    max-width: 33%;
    height: auto;
    align-self: center;
    max-height: 250px;
    width: auto;
    cursor: pointer;
}
.ODA_embalagem img:hover {
    transform: scale(1.03);
}
.ODA_embalagem img.active:hover {
    transform: unset;
}
.ODA_embalagem p {
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 600;
}
@media (max-width: 1024px){
    .ODA_embalagem img{
        max-width: 300px;
        margin: 25px auto;
    }
}
@media (max-width: 600px) {
    .ODA_embalagem .row {
        flex-direction: column;

    }
    .ODA_embalagem img{
        max-width: 100%;
        margin: 25px auto;
    }
}