body {
  background-repeat: repeat !important;
  background-position: center !important;
}

header .container{
  border-radius: 25px 25px 0px 0px;
}
.container {
  padding: 4px 40px;
  border-radius: 0px 0px 25px 25px;
  position: relative;
}

figcaption {
  text-align: center;
}

.legenda {
  font-size: 13px;
  text-align: center;
}

.tooltip-link {
  text-decoration: underline;
  text-decoration-color: blue;
}

#gif {
  margin: 0.5em auto;
  display: block;
  border-radius: 10px;
  max-width: 100%;
}

#carousel2 .carousel-caption {
  background-color: #00838d;
  padding: 8px;
}

.sesc th {
  text-align: center;
}

.linkODA {
  width: 350px;
  height: 350px;
  display: block;
  margin: 20px auto;
  background: url('../img/bt_M1E1_origem.png') no-repeat center bottom;
  transition: all .6s;
}

.linkODA:hover {
  transform: scale(1.1);
}

video {
  height: 360px;
  width: 720px;
  background-color: black;
  display: block;
  margin: 1.5em auto;
}

.fracao {
  width: 25px;
  filter: invert(100%);
}

.fracao.escura {
  filter: none;
}

.icone-titulo {
  display: inline;
  float: left;
  height: 50px;
  background-color: white;
  border-radius: 100px;
  margin-right: 15px;
  margin-top: -5px;
  margin-bottom: 20px;
  position: relative;
  z-index: 100 !important;
}

div.estilo2 {
  background: #00838d;
  color: #fff;
  margin: 0 -40px;
  padding: 10px 40px;
}
.estilo2-divisoria_top{
  background: url('../img/topo_verde.png') no-repeat;
  background-size: 100%;
  background-position: center bottom;
  height: 140px;
  margin: -2px -40px;
}
.estilo2-divisoria_bottom{
  background: url('../img/bottom_verde.png') no-repeat;
  background-size: 100%;
  background-position: center top;
  height: 140px;
  margin: -2px -40px;
}

div.estilo3{
  background: #004f53;
  color: #fff;
  margin: 0 -40px;
  padding: 10px 40px;
}
.estilo3-divisoria_top{
  background: url('../img/topo_verdeescuro.png') no-repeat;
  background-size: 100%;
  background-position: center bottom;
  height: 50px;
  margin: -2px -40px;
}
.estilo3-divisoria_bottom{
  background: url('../img/bottom_verdeescuro.png') no-repeat;
  background-size: 100%;
  background-position: center top;
  height: 110px;
  margin: -2px -40px;
}

div.estilo4{
  background: #ff9700;
  color: #fff;
  margin: 0 -40px;
  padding: 10px 40px;
}
.estilo4-divisoria_top{
  background: url('../img/topo_laranja.png') no-repeat;
  background-size: 100%;
  background-position: center bottom;
  height: 70px;
  margin: -2px -40px;
}
.estilo4-divisoria_bottom{
  background: url('../img/bottom_laranja.png') no-repeat;
  background-size: 100%;
  background-position: center top;
  height: 110px;
  margin: -2px -40px;
}

div.estilo2 h3, div.estilo2 h4,
div.estilo3 h3, div.estilo3 h4,
div.estilo4 h3, div.estilo4 h4{
  color: #fff;
}

.icone::before {
  background-color: transparent;
}

.estilo2 .caixa.icone {
  background-color: #ffa41b;
  background-repeat: no-repeat;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 30px;
  padding-left: 50px;
}

.caixa.icone p {
  color: #fff;
}

.enunciado ul {
  margin-top: 0;
}

figure {
  margin: 1em auto;
}

figure .img-fluid {
  max-width: 700px;
}

#btn-modal {
  background-image: url("../../assets/img/bt_modal_.png");
  background-color: transparent;
  border: none;
  width: 201px;
  height: 201px;
  background-size: contain;
}

#btn-modal:hover {
  background-image: url("../../assets/img/bt_modal_hover.png");
}

.cards-container {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 1em;
}

.cards-container img {
  padding: 0.5em;
  background-color: white;
  border-radius: 5px;
}

.carousel {
  width: 80%;
  margin: 1em auto !important;
}

.carousel-item img {
  border-radius: 5px;
}

#personagem-final {
  margin: 1em;
  height: 420px;
  width: auto;
}

.mobile-carousel {
  display: none;
}

.infografico {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em auto;

  border-radius: 5px;
  width: 700px;
}

.infografico img {
  margin: 0.5em;
}

.caixa {
  margin: 1em auto;
}

.caixa ul {
  color: white;
}

h2 {
  margin-bottom: 1em;
}

.pagination {
  justify-content: center;
}

/*
div.estilo2::after {
  bottom: 0px;
  background-image: url(../../../../assets/img/bottom.png);
  background-size: 1988px 58px;
  height: 57px;
  background-position: bottom left;
}
div.estilo2::before {
  background-image: url(../../../../assets/img/topo.png);
  background-size: 1988px 131px;
  height: 131px;
  top: 0px;
  background-position: top left;
}
*/

.bloco .container p {
  clear: both;
}

.ilustra {
  float: right;
  height: 200px;
  margin: 0.5em;
  border-radius: 25px;
}

table.sesc {
  margin: 1em auto 0.5em auto;
}

figcaption {
  margin-bottom: 1em;
}

.gif {
  margin: 1em auto;
  border-radius: 7px;
}

.br {
  border-radius: 10px;
}

iframe {
  height: 420px;
  width: 700px;
}

.m-2 {
  margin: 2em auto;
}

.modal-fullscreen .modal-content {
  background-image: url("../img/modal.png");
  background-size: contain;
}

.modal-header {
  padding: 1em 140px 1em 90px;
}

/*------------ Expandir Saiba Mais ------------*/

.caixa-container {
  position: relative;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-bottom: 60px !important;
}

.caixa-exp {
  max-height: 60px;
  overflow: hidden;
  width: 100%;
  margin: 40px auto;
  transition-duration: .7s;
  position: relative;
  border: none;

}

.caixa-exp.aberta {
  max-height: 1900px;
}

.caixa-exp figure {
  margin-top: 40px;
}

.caixa-container button.btpluscaixa {
  content: '';
  background-image: url('../img/bt_mais2.png');
  background-size: contain;
  background-position: center;
  width: 54px;
  height: 54px;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  background-color: transparent;
  border: none;
}

.caixa-container button.btpluscaixa:hover {
  transform: translateX(-50%) scale(1.03);
}

/*menu*/
.dropdown-menu {
  background: #707070;
  border-radius: 0;
  padding: 20px 35px;
  box-shadow: 4px 4px 0px rgba(187, 187, 187, 0.8);
  left: -1px !important;
  top: -2px !important;

}

.dropdown-menu a {
  border-bottom: 1px solid #fff;
  padding: 0;
  padding-bottom: 10px;
  margin-bottom: 12px;
  color: #fff;
}

.dropdown-menu a:hover {
  color: #fff;
  background: none;
  text-decoration: underline;
}

.dropdown-menu ul a i {
  display: none;
}

.dropdown-menu ul a.ativo i {
  display: inline;
  margin-left: -15px;
}

.dropdown-menu li:last-child a {
  border: none;
}

.bt-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  background: none;
  border: none;
}

.fixar {
  position: fixed;
  width: 100%;
  top: 0;
  margin-top: unset;
  z-index: 9;

}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.accordion-button i {
  font-size: 20px;
  margin: 0 10px;
}

.dropdown-toggle::after {
  display: none;
}

.bg-light {
  background: #e2e2e2;
  border-bottom: 2px solid #a8a8a8;
  border-top: 2px solid #bdbdbd;
}

.navbar-collapse {
  background: none;
}

.nav-link i {
  font-size: 25px;
  color: #848383;
  margin-right: 10px;
}

.navbar {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  padding: 5px 0;
}

.offcanvas {
  background-color: #00838d;
}

.dropdown button {
  background: url("../img/menu-alt.png") center no-repeat;
  background-color: #fff;
  background-size: 70%;
  box-shadow: 4px 4px 0px rgba(187, 187, 187, 0.8);
  margin-left: 10px;
  width: 30px;
  height: 30px;
  padding: 20px;
  top: 15px;
  left: 15px;
  position: fixed;
  z-index: 99999;
}

.dropdown-menu {
  background: unset;
  background-color: #00838D !important;

}

.bg-fundo {
  background-color: #000;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  z-index: 500;
  opacity: 0.7;
  filter: alpha(opacity=70);
  display: none;
}

.bg-fundo {
  position: fixed;
  top: 0;
  left: 0;
}

.fundo-texto {
  background: #fff;
  color: #004f53 !important;
  padding: 5px;
}

.bt-conjuntos {
  background: url('../img/bt_M1E1_conjnumerico.png') no-repeat;
  background-size: contain;
  max-width: 350px;
  height: 350px;
  display: block;
  margin: auto;
  transition: all .6s;
}

.bt-conjuntos:hover {
  transform: scale(1.1);
}

/*fim do menu*/

.caixa.icone {
  padding: 40px;
  padding-left: 70px;
  position: relative;
  margin-left: 20px;
  margin-top: 60px;
  margin-bottom: 30px;
  background: #00838d;
  border-radius: 30px;
  border: none;
  color: #FFF;
}

.caixa.icone.espaco {
  padding-top: 50px;
}

.bg1 {
  background-color: #ffff;
}


.paragImportante p {
  padding-left: 11px;
}


.paragImportante2.caixa.icone {
  padding-left: 68px;
}

.figuraReta {
  background: #ffff;
}

header.titulo-conteudo {
  position: absolute;
  width: 100%;
  padding-top: 15px;
  z-index: 99;
}
.pagina > div:last-child{
  padding-bottom: 70px;
}
.pagina > .bloco:last-child.estilo3::after,
.pagina > .bloco:last-child.estilo2::after{display: none;}
footer {
  position: absolute;
  margin-top: -80px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.container.referencias {
  padding: 20px;
}

.pagina {
  padding-top: 100px;
}

.blocoY {
  background: url('../imgAjuste/versionamento/bg_ref.png') no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
}

.flex-container {
  display: flex;
}

.image-box {
  flex: 1;
  float: right;
}

.text-box {
  flex: 1;
}

.atividade {
  width: 40%;
}

.referencias p {
  word-wrap: break-word;
}



/*--------- BGs laterais ---------*/
.elementos_bg{
  position: absolute;
  width: 200px;
  z-index: 0;
}

/*---- PG 1 ----*/
.pg1-elemento_1{
  left: 0;
  margin-left: -210px;
  margin-top: -60px;
}
.pg1-elemento_2{
  right: 0;
  margin-right: -210px;
  height: 198px;
  top: 50%;
  margin-top: -99px;
}
.pg1-elemento_3{
  right: 0;
  bottom: 0;
  margin-right: -210px;
  margin-bottom: 100px;
}

/*---- PG 2 ----*/
.pg2-elemento_1{
  left: 0;
  margin-left: -210px;
  margin-top: -60px;
}
.pg2-elemento_2{
  right: 0;
  margin-right: -210px;
  height: 288px;
  top: 50%;
  margin-top: -144px;
}
.pg2-elemento_3{
  right: 0;
  bottom: 0;
  margin-right: -210px;
  margin-bottom: 100px;
}


/*--------- /BGs laterais ---------*/


@media (max-width: 1080px) {
  video {
    max-width: 100%;
  }

  .cards-container img {
    width: 320px;
  }

  figure .img-fluid {
    max-width: 600px;
  }

  .elementos_bg{
    display: none;
  }
}


@media screen and (max-width: 720px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .infografico {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cards-container img {
    width: 100%;
    margin-bottom: 1em;
  }

  video {
    height: 240px;
    max-width: 100%;
  }

  figure img {
    max-width: 100%;
  }

  .carousel {
    display: none;
  }

  .mobile-carousel {
    display: block;
  }

  .mobile-carousel img {
    margin-bottom: 1em;
  }

  figure .img-fluid {
    max-width: 100%;
  }

  .ilustra {
    float: unset;
    display: block;
    margin: 1em auto;
  }

  iframe {
    width: 100%;
    height: 320px;
  }

  #carousel2 {
    display: block;
    width: 100%;
  }

  #carousel2 .carousel-caption {
    bottom: 0;
    font-size: 0.85rem !important;
    padding-bottom: 0;

  }

  #carousel2 .carousel-caption p {
    font-size: 0.85rem !important;
    line-height: 16px;
    margin-bottom: 5px;

  }
}

@media screen and (max-width: 428px) {
  .imgReportagem {
    display: none;
  }

  .icone.pergunta::before {
    left: -55px;
  }

  .icone.saiba-mais::before {
    left: -55px;
  }

  .icone.praticar::before {
    left: -55px;
  }

  .icone.importante::before {
    left: -55px;
  }

  .icone.para-refletir::before {
    left: -50px;
  }

  .paragImportante p {
    padding-left: 20px;
  }

  .caixa.icone {
    padding-left: 65px;
  }

  .caixa.icone.praticar {
    padding-left: 15px;
    padding-top: 100px;
  }

  .caixa.icone.praticar.espaco {
    padding-left: 60px;
    padding-top: 70px;
  }

  .paragImportante2.caixa.icone {
    padding-left: 82px;
  }
}

@media screen and (min-width: 430px) {
  .imgReportagemMobile {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  header.titulo-conteudo{padding-top: unset;}
  .icone.pergunta::before {
    left: -55px;
  }

  .icone.saiba-mais::before {
    left: -55px;
  }

  .icone.praticar::before {
    left: -55px;
  }

  .icone.importante::before {
    left: -55px;
  }

  .icone.refletir::before {
    left: -55px;
  }

  .paragImportante p {
    padding-left: 20px;
  }

  .caixa.icone {
    padding-left: 65px;
  }

  .caixa.icone.praticar {
    padding-left: 15px;
    padding-top: 100px;
  }

  .caixa.icone.praticar.espaco {
    padding-left: 60px;
    padding-top: 70px;
  }

  .paragImportante2.caixa.icone {
    padding-left: 82px;
  }
}

.bg-tour-origem {
  background: url('../img/bg-tour-origem.png') no-repeat center !important;
}

.bg-mapa-origem {
  background: url('../img/bg-mapa-origem.png') no-repeat center !important;
}

.bg-reta-numerica {
  background: url('../img/bg-reta-numerica.png') no-repeat center !important;
}

.btn-objeto {
  background: url('../img/bt_M1E1_tourvirtual.png') no-repeat;
  background-size: contain;
  max-width: 350px;
  height: 350px;
  transition: all .6s;
  margin: 20px auto;
  cursor: pointer;
}
.btn-objeto.mapa {background: url('../img/bt_M1E1_mapa.png') no-repeat; background-size: contain;}
.btn-objeto.reta {background: url('../img/bt_M1E1_reta.png') no-repeat; background-size: contain;}
.btn-objeto:hover {transform: scale(1.1);}
.btn-objeto a{
  display: block;
  width: 100%;
  height: 100%;
}
.text-sem-estilo {
  text-decoration: none;
  color: inherit;
}

.animacao {
  animation: go-back 1s infinite alternate;
  box-shadow: 5px 5px 10px rgba(0, 5, 10, 0.5);
}

@keyframes go-back {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}